@model IEnumerable<AgenciaMareSol.Models.Promocao>

@{
    ViewData["Title"] = "Promoções";
}

<div class="text-center ">

    <h1 class="display-4">Promoções</h1>
    <br />
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <p>
            <a asp-action="Create" class="btn btn-primary my-1">Digite a promoção</a>
        </p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataViagem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Destino_Id)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataViagem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Destino_Id)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
